*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --primary-font-family: 'Inter', sans-serif;
    
    --primary-font-style: normal;

    --font-weight-bold: 600;
    --font-weight-regular: 500;
    --font-weight-thin: 400;

    --font-size-lg: 24px;
    --font-size-md: 16px;
    --font-size-sm: 14px;

    --line-height-lg: 32px;
    --line-height-md: 24px;
    --line-height-sm: 20px;
    
    --color-black: #101828;
    --color-light-grey: #475467;
    --color-grey:#344054;
    --color-purple: #6941C6;

    --button-background-color: #7F56D9 ;
    --button-text-color: #FFFFFF;

    --background-color-grey:#FCFCFD;
    --background-color-white:#FFFFFF;
}
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 1rem 1.6rem;
    gap: 0.8rem;

}
button span {
    font-family: var(--primary-font-family);
    font-style: var(--primary-font-style);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}

body > div {
    min-width: fit-content;
    min-height: 100vh;
    background-color: var(--background-color-1); 
}
.flex-column {
    display: flex;
    flex-direction: column;
}
main {
    padding: 0px 0px 48px;
    gap: 3.2rem;
}
/* header starts */
#header {
    gap: 2rem;
    width: 100vw;
}
#header-image{
    height: 22vh;
    min-height: 15rem;
    background: url(./images/header_image.jpg);
    background-color: var(--color-4);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#header-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 1.6rem;
    gap: 1.6rem;
    width: 100vw;
    height: auto;


}
#profile-image-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.4rem;
    isolation: isolate;
    width:50vw;
}
#profile-photo {
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 20rem;
    margin-top: -7rem;
   
}
#profile-photo svg{
    margin-left: -1.5rem;
}
#profile-name {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    
}
@media screen and (min-width: 584px) {
    #profile-photo { 
        margin-top: -5rem;
    }
}
#profile-name h1 {
    font-family: var(--primary-font-family);
    font-style: var(--primary-font-style);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    color: var(--color-black);
}
#profile-name p {
    font-family: var(--primary-font-family);
    font-style: var(--primary-font-style);
    font-weight: var(--font-weight-thin);
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    color: var(--color-light-grey);
}
#header-actions-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    width: 22.5rem;
    height: 4rem;
}
#button-share {
    width: 10rem;
    height: 4rem;
    background: var(--background-color-white);
    border: 1px solid #D0D5DD;
    
}
#button-share span {
    color: var(--color-grey);
}
#button-view-profile{
    width: 11.3rem;
    height: 4rem;
    background: var(--button-background-color);
    border: 1px solid #7F56D9;
    color: var(--button-text-color);
}

#button-view-profile  span { 
    font-weight: var(--font-weight-regular);
    
}
/* header ends */
